body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  padding: 0px;
}
h1 {
  font-size: 50px;
}
.flexContainer {
  display: flex;
  margin-bottom: 200px;
}
.half-width {
  width: 50%;
  padding-left: 5%;
}
.half-width img {
  width: 70%;
}
.hire-button {
  text-decoration: none;
  padding: 10px 20px;
  color: white;
  border-radius: 3px;
  background-image: linear-gradient(orange, tomato);
  font-weight: 700;
}
.top-banner {
  background-image: url(media/top-banner.png);
  background-repeat: no-repeat;
}
.exp {
  box-shadow: 10px 10px 30px gray;
  margin-left: 100px;
  margin-right: 100px;
  padding: 20px;
}
.exp-area {
  background-image: url(media/exp-bg.png);
  background-repeat: no-repeat;
}
.exp-area h3 {
  color: orange;
}
.exp-area h2 {
  font-size: 30px;
}
#border-soft{
  border-left: 7px solid ;
  border-image: linear-gradient(orange , tomato);
  border-image-slice: 1;  
}
#border-web{
  border-left: 7px solid ;
  border-image: linear-gradient(blue , cyan);
  border-image-slice: 1;  
}
footer p{
  text-align: center;
  font-style:italic;
}

