body {
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 50px;
}
section {
  display: flex;
}
.half-width {
  width: 50%;
  padding-left: 5%;
}
.half-width img {
  width: 70%;
}
.hire-button {
  width: 70px;
  height: 30px;
  color: white;
  background-color: rgba(255, 83, 4, 0.726);
}
